WCFAgileStrategy.Client/Service References/AgileEmployeeServiceProxy/EmployeeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.MyWCFVersioningExample.com/sample/2016/08" elementFormDefault="qualified" targetNamespace="http://www.MyWCFVersioningExample.com/sample/2016/08" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57247/HostDevServer/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.MyWCFVersioningExample.com/sample/2016/08" />
  <xs:element name="UpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.MyWCFVersioningExample.com/sample/2016/08" minOccurs="0" name="emp" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.MyWCFVersioningExample.com/sample/2016/08" minOccurs="0" name="UpdateEmployeeResult" nillable="true" type="q2:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>