WCFAgileStrategy.Client/Service References/AgileEmployeeServiceProxy/EmployeeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.MyWCFVersioningExample.com/sample/2016/08" elementFormDefault="qualified" targetNamespace="http://schemas.MyWCFVersioningExample.com/sample/2016/08" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
</xs:schema>