WCFSemiStrictStrategy.ClientV2/Service References/EmployeeServiceProxy/EmployeeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.MyWCFVersioningExample.com/sample/2016/09" elementFormDefault="qualified" targetNamespace="http://www.MyWCFVersioningExample.com/sample/2016/09" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59066/HostDevServer/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.MyWCFVersioningExample.com/sample/2016/08" />
  <xs:element name="GetEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.MyWCFVersioningExample.com/sample/2016/08" minOccurs="0" name="GetEmployeeResult" nillable="true" type="q1:Employee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>